/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
    color: #05E6F2;
}

.nav-bar li:hover, .nav-bar li:active {
    text-decoration: #05E6F2 underline 3px solid;
    text-underline-offset: .4em;
}

li a.nav-link:hover, li a.nav-link:active {
    text-decoration: #05E6F2 underline 3px solid;
    text-underline-offset: .4em;
}

li.link-active {
    text-decoration: #026267 underline 3px solid;
    text-underline-offset: .4em;
}

.main-dark {
    color: #001C27
}

.main-light {
    color: #05E6F2;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #0576F2;
    border-color: #7C767C;
}

    .btn-primary:hover {
        background-color: #05D4DF;
        border-color: #7C767C;
    }

body {
    position: relative;
    min-height: 100vh;
}

    body > .container {
        padding-bottom: 21em;
    }

/*FOOTER*/

footer {
    background: #001C27;
    background: -webkit-linear-gradient(59deg, #3A6073, #012122);
    background: linear-gradient(59deg, #3A6073, #012122);
    color: white;
    margin-top: 100px;
    padding-bottom: 20rem;
    /*extra*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20em;
}

    footer a {
        color: #fff;
        font-size: 14px;
        transition-duration: 0.2s;
    }

        footer a:hover {
            color: #F05F05;
            text-decoration: none;
        }

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

    .social-network a.icoFacebook:hover i,
    .social-network a.icoLinkedin:hover i {
        color: #fff;
    }

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
    --radiusScroll: 15em;
}

body > .container::-webkit-scrollbar {
    width: 1.5em;
    border-radius: 15em;
}

body > .container {
    overflow-y: scroll;
    height: 80%;
    scrollbar-width: thin;
    scrollbar-color: #7A7A7A;
}

    body > .container::-webkit-scrollbar-track {
        box-shadow: inset 6px 5px 10px 3px #b9b5b5d9;
        ;
        background-color: #7A7A7A;
        margin-bottom: 22em;
        margin-top: 1em;
        border-radius: 15em;
    }

    body > .container::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 15em;
        border: 3px solid gray;
        box-shadow: inset 6px 6px 2px hsl(0deg 0% 100% / 79%), inset -6px -6px 1px rgb(0 0 0 / 18%);
    }

html {
    overflow: hidden;
}

body > .container {
    overflow-y: auto;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 20em;
    padding-bottom: 20em;
}

li.nav-item > a.nav-link, app-login-menu li.nav-item > a.nav-link {
    font-size: 22px;
}

.nav-bar li:hover, .nav-bar li:active,
app-login-menu li .nav-bar li:hover, app-login-menu li .nav-bar li:active {
    text-decoration: #05E6F2 underline 3px solid;
    text-underline-offset: .4em;
}

li a.nav-link:hover, li a.nav-link:active,
app-login-menu .nav-link:hover, app-login-menu .nav-link:active {
    text-decoration: #05E6F2 underline 3px solid;
    text-underline-offset: .4em;
}

li a.nav-link i.icon:hover, li a.nav-link i.icon:active {
    text-decoration: #05E6F2 underline 1px solid;
    text-underline-offset: .25em;
}

a.nav-link > i.icon {
    text-decoration: #026267 underline 1px solid;
    text-underline-offset: .25em;
}


li.link-active a i.icon {
    text-decoration: #026267 underline 1em solid;
    text-underline-offset: .25em;
}    